.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-logocolors-bluedark);
}
.home-container01 {
  width: 100%;
  height: 140px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-r75);
  justify-content: center;
  background-color: #ffffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.home-navlink {
  display: contents;
}
.home-image {
  top: 0px;
  flex: 1;
  left: 0px;
  width: var(--dl-size-size-xxxlarge);
  bottom: 0px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  padding-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-image:hover {
  opacity: 0.7;
}
.home-container02 {
  right: var(--dl-space-space-fourunits);
  width: 641px;
  bottom: 0px;
  height: 40px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-navlink1 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 127px;
  height: 40px;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Industry Light;
  font-weight: 700;
  padding-top: .5rem;
  border-color: var(--dl-color-logocolors-yellow);
  border-width: 2px;
  padding-left: auto;
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: .5rem;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-logocolors-yellow);
}
.home-navlink1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-navlink2 {
  top: 0px;
  left: 173px;
  color: var(--dl-color-logocolors-yellow);
  width: 127px;
  height: 40px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  border-color: var(--dl-color-logocolors-yellow);
  border-width: 2px;
  padding-left: auto;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.home-navlink2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-logocolors-yellow);
}
.home-navlink3 {
  top: 0px;
  color: var(--dl-color-logocolors-yellow);
  right: 172px;
  width: 127px;
  height: 40px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  border-color: var(--dl-color-logocolors-yellow);
  border-width: 2px;
  padding-left: auto;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.home-navlink3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-logocolors-yellow);
}
.home-navlink4 {
  top: 0px;
  color: var(--dl-color-logocolors-yellow);
  right: 0px;
  width: 127px;
  height: 40px;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Industry Light;
  font-weight: 700;
  border-color: var(--dl-color-logocolors-yellow);
  border-width: 2px;
  padding-left: auto;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-navlink4:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-logocolors-yellow);
}
.home-sidebar {
  width: 25%;
  height: 1188px;
  display: flex;
  z-index: 2;
  align-self: flex-end;
  overflow-x: hidden;
  transition: 0.5s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #075874;
}
.home-container03 {
  width: 100%;
  height: 67px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background-color: #064D66;
}
.home-text {
  top: 15px;
  left: 0px;
  color: var(--dl-color-logocolors-lightblue3);
  right: 0px;
  width: 183px;
  margin: auto;
  position: absolute;
  font-size: 32px;
  text-align: center;
  font-family: Industry Inc Base;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  text-decoration: none;
}
.home-icon {
  fill: var(--dl-color-logocolors-lightblue3);
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-container04 {
  top: 0px;
  left: 0px;
  width: 75%;
  bottom: 0px;
  height: 1186px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  margin-top: 140px;
  align-items: center;
  margin-left: auto;
  padding-top: var(--dl-space-space-twounits);
  margin-right: auto;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-iframe {
  width: 100%;
  height: 50%;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 197px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container06 {
  flex: 0 0 auto;
  width: 216px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 184px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: 197px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container08 {
  flex: 0 0 auto;
  width: 199px;
  height: 183px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-right: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #075874;
}
.home-text1 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.home-icon2 {
  fill: #83ACBA;
  width: 85px;
  height: 85px;
}
.home-icon4 {
  fill: #83ACBA;
  width: 85px;
  height: 85px;
}
.home-container10 {
  flex: 0 0 auto;
  width: 267px;
  height: 221px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-logocolors-bluedark);
}
.home-container11 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: #075874;
}
.home-text2 {
  color: var(--dl-color-gray-white);
  font-size: 23px;
}
.home-text3 {
  color: var(--dl-color-logocolors-lightblue3);
  font-size: 21px;
  margin-top: var(--dl-space-space-halfunit);
}
.home-container12 {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #075874;
}
.home-text4 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
}
.home-container13 {
  width: 100%;
  height: 255px;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #266D86;
}
.home-button {
  color: var(--dl-color-gray-white);
  width: 517px;
  height: 66px;
  font-size: 32px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.28);
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: Industry Inc Base;
  font-weight: 700;
  line-height: 1.15;
  padding-top: 1rem;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--dl-color-logocolors-lightred);
}
.home-text5 {
  color: var(--dl-color-logocolors-lightblue3);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
}
.home-footer {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-image1 {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-image {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text6 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
